body {
    background: #0f172a;
    font-family: Arial;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

select {
    margin-top: 10px;
    padding: 8px;
    width: 200px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4f46e5;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.outputBox {
    margin-top: 20px;
    padding: 15px;
    background: #1e293b;
    border-radius: 8px;
    min-height: 60px;
}
